* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
  
  body {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 98vh;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 9rem;
  }
  
  .nav-items {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    color: #3e4794;
  }
  
  button {
    background: linear-gradient(to right, #9960f2, #ff8adc);
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    border-radius: 10rem;
  }
  
  .intro-section {
    display: flex;
  }
  
  .left-section {
    margin: 6rem 9rem;
  }
  
  .left-section h1 {
    font-size: 6rem;
    color: #3e4794;
    margin-bottom: 2rem;
  }
  .left-section h4 {
    font-weight: 400;
    color: #484848;
    margin-bottom: 3rem;
    width: 400px;
    line-height: 1.6;
  }
  .learn-more-btn {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
  }
  
  .imgs-div {
    position: relative;
  }
  
  .intro-img {
    height: 81vh;
  }
  .vector-dot {
    position: absolute;
    bottom: 14rem;
    left: 4rem;
  }
  .vector-img {
    position: absolute;
    bottom: 8.5rem;
    left: 0.5rem;
  }